# Ignore bundler config
.bundle
.idea
.DS_Store
coverage
coverage.data
.redcar
.sass-cache/**/*

config/database.yml
db/*.sqlite3
db/schema.*

log/*.log
tmp/**/*

config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml

config/sensitive_data.yml

public/sitemap*
public/stylesheets/**/*
public/uploads/**/*
