%h1
  До начала голосования приложение работает в тестовом режиме и отчеты о ходе выборов не формируются. Благодарим за использование нашего приложения. По всем вопросам пишите на:
  %a{:href => "mailto:info@webnabludatel.org"} info@webnabludatel.org