%h1.b-mainhead
  Мобильное приложение
  %br/
  %strong.b-mainhead__name Веб-наблюдатель
  = image_tag("logo.png", :class => "b-mainhead__logo")

  %p
    = render :partial => "partials/share"
%ul.b-marklist
  %li.b-marklist__item Содержит список всех возможных нарушений для проверки участка.
  %li.b-marklist__item Поможет составить и подать жалобу по замеченным нарушениям.
  %li.b-marklist__item.b-marklist__item_double Поддерживает загрузку фото и видео доказательств в любой удобный момент.
  %li.b-marklist__item Со встроенным справочниками наблюдателя ЦИК и организации «Голос».
.b-download
  Скачайте
  %a.b-download__apple{:href => "http://itunes.apple.com/ru/app/nabludatel/id505350851?ls=1&mt=8"} в Аппсторе
  или на
  %a.b-download__android{:href => "https://market.android.com/details?id=org.dvaletin.apps.nabludatel"}
    %span.b-download__android-name> Android
    \-маркете
  %br/
  %a{:href => "http://files.webnabludatel.org/webnabludatel.apk"}
    Скачайте приложение для Android с нашего сервера


- content_for :sidebar do
  .b-gallery
    %ul#mycarousel
      %li
        %img{:alt => "", :src => image_path("slides/slide-1.jpg")}/
      %li
        %img{:alt => "", :src => image_path("slides/slide-2.jpg")}/
      %li
        %img{:alt => "", :src => image_path("slides/slide-3.jpg")}/
    .b-gallery__phone

:javascript
  $(document).ready(function(){
    $("#mycarousel").jcarousel({
        wrap: 'circular',
        auto: 3,
        rtl: true,
        scroll: 1
    });
  });