%h1.b-mainhead О проекте
%p
  %strong «Веб-наблюдатель» - это мобильное приложение для наблюдателей, помогающее определить наличие или отсутствие нарушений на участке, а также подать жалобу в случае, если были замечены какие-либо отклонения от установленной процедуры голосования.
%p
  %strong «Веб-наблюдатель» позволяет логиниться через Facebook и Twitter и делиться своими отчетами о ходе выборов в социальных сетях. Все данные из приложения будут опубликованы на нашем сайте. Приложение  использует модель open source и открыто для доработки всеми желающими.
%p Согласно Конституции РФ, каждый гражданин России имеет право избирать и быть избранным, а также участвовать в управлении делами государства как непосредственно, так и через своих представителей.
%p Реализация этого права через  свободные, законные выборы – залог свободного государства. 4 марта 2012 года состоятся выборы президента России. Для того, чтобы они были свободными, необходимо обеспечить соблюдение предписанной законом процедуры голосования и подсчета голосов.  Помогают в этом наблюдатели.
%p Проект «Веб-наблюдатель» делает их работу более простой и удобной. Основная часть проекта - это мобильное приложение, которое предоставляет всю нужную информацию по правилам проведения выборов, а также предлагает инструменты  для проверки наличия нарушений со стороны избирательной комиссии.  Полученные через приложение данные о ситуации на избирательных участках по всей стране немедленно отправляются на общий сервер проекта, благодаря чему образуется достоверная статистика нарушений на президентских  выборах.
%p «Веб-наблюдатель» полезен в первую очередь тем, кто работает наблюдателем впервые и еще не очень уверенно чувствует себя на участке. Приложением также могут пользоваться обычные избиратели, желающие проверить свой  УИК  во время голосования.
%p Мобильное приложение «Веб-наблюдатель» содержит:
%ul
  %li Интерактивный вопросник, позволяющий  максимально быстро и точно оценить наличие или отсутствие нарушений на избирательном участке;
  %li Подсказки по подаче жалоб на случай, если на участке присутствуют нарушения;
  %li Опцию  «S.O.S»  на случай неправомерного удаления наблюдателя с избирательного участка;
  %li «Справочник» со всей правовой информацией, разбитой по разделам, который также содержит ответы на часто задаваемые вопросы о процедуре проведения выборов.
%p В приложении  можно присоединить фото- и видео-доказательства нарушений, которые вместе с  заполненным вопросником немедленно отправляются  на сервер проекта. Полученный  отчет по избирательному участку позволит нам оценить качество работы избирательных комиссий. Все собранные данные по выборам можно будет посмотреть на нашем сайте.
%p Пользуясь приложением, наблюдатель упрощает себе работу и становится более эффективным в своей роли. Благодаря этому вероятность предотвратить нарушения увеличивается.
%p Если вы будете наблюдателем 4 марта, или в качестве избирателя хотите проследить за соблюдением своих конституционных прав  - пользуйтесь приложением «Веб-наблюдатель».
%p Команда проекта «Веб-наблюдатель» не связана с партиями или государственными учреждениями.  Просто мы – за соблюдение законодательства и честные выборы.
%p Среди участников проекта – IT-специалисты ведущих технологических компаний России, а также сотрудники общественных организаций и компаний, занимающихся поддержкой технологического предпринимательства.
%p Команда:
%ul
  %li Координация работ:  Алексей Поимцев, Илья Сегалович
  %li Разработка:  Тимофей Цветков, Илья Обшадко,  Алексей Ефимов, Сергей Ерошенков, Сергей Небольсин, Константин Баев, Дмитрий Валетин
  %li UI/UX/Дизайн – Таня Мисютина, Антон Бондарев
  %li Юридические советы и справочник по зак-ву о выборах – ассоциация «Голос» (Григорий Мелконьянц, Андрей Бузин, Максим Крюков)
  %li PR и тексты – Анастасия Дёмина, Арсен Казибеков
%p
  Если у вас есть предложения по сотрудничеству с нашим проектом – пишите на
  %a{:href => "mailto:info@webnabludatel.org"} info@webnabludatel.org
