- title "Приложение" 

%section.i-content{:role => "main"}
  %article.b-post
    %h1.b-mainhead
      Мобильное приложение
      %br/
      %strong.b-mainhead__name Наблюдатель
      %img.b-mainhead__logo{:alt => "", :src => image_path( "logo.png") }/
    .b-share
      / AddThis Button BEGIN
      .addthis_toolbox.addthis_default_style
        %a.addthis_button_facebook_like{"fb:like:layout" => "button_count"}
        %a.addthis_button_tweet
        %a.addthis_button_google_plusone{"g:plusone:size" => "medium"}
        %a.addthis_counter.addthis_pill_style
      %script{:src => "http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4f3e36300cbc033d", :type => "text/javascript"}
    %ul.b-marklist
      %li.b-marklist__item Содержит список всех возможных нарушений для проверки участка.
      %li.b-marklist__item Поможет составить и подать жалобу по замеченным нарушениям.
      %li.b-marklist__item.b-marklist__item_double Поддерживает загрузку фото и видео доказательств в любой удобный момент.
      %li.b-marklist__item Со встроенным справочником наблюдателя организации «Голос».

  .b-download
    Скачайте
    %a.b-download__apple{:href => "#"} в Аппсторе
    или на
    %a.b-download__android{:href => "#"}
      %span.b-download__android-name> Android
      \-маркете
%aside.i-sidebar
  .b-gallery
    %ul#slidingFeatures.b-gallery__list
      / Все картинки должны быть размером 209*311px, PNG24
      %li.b-gallery__item
        %a.b-gallery__link{:href => "#"}
          %img{:alt => "", :src => image_path("slides/slide-1.jpg") }/
      %li.b-gallery__item
        %a.b-gallery__link{:href => "#"}
          %img{:alt => "", :src => image_path("slides/slide-2.jpg")}/
      %li.b-gallery__item
        %a.b-gallery__link{:href => "#"}
          %img{:alt => "", :src => image_path("slides/slide-3.jpg")}/
    .b-gallery__phone
    /
      <div class="b-gallery__control b-gallery__control_left b-gallery__control_left-passive"></div>
      <div class="b-gallery__control b-gallery__control_right"></div>       
      
:javascript
  $(document).ready(function(){ $('#slidingFeatures').jshowoff({
    effect: 'slideLeft',
    hoverPause: true,
    links: false,
    controlText:{play:'',pause:'',previous:'',next:''},
    controls: true
  }); });          