%h1.b-mainhead Пресса о нас
.b-news.b-news_press
  .b-news__item
    .b-news__logo
      %img.b-news__img.b-news__img_ng{:alt => "Новая Газета", :src => image_path("press/np-ng.png")}/
    .b-news__text
      %a.b-news__link{:href => "http://www.novayagazeta.ru/news/54190.html", :rel => "external"} Владельцы Apple и Android 4 марта смогут рассказывать о нарушениях на выборах прямо с мобильного телефона
  .b-news__item
    .b-news__logo
      %img.b-news__img.b-news__img_rian{:alt => "", :src => image_path("press/np-rian.png")}/
    .b-news__text
      %a.b-news__link{:href => "http://www.ria.ru/vybor2012_hod_vyborov/20120214/565765738.html", :rel => "external"} Приложение для наблюдателей поможет выявить нарушения на выборах
  .b-news__item
    .b-news__logo
      %img.b-news__img.b-news__img_digit{:alt => "", :src => image_path("press/np-digit.png")}/
    .b-news__text
      %a.b-news__link{:href => "http://www.digit.ru/technology/20120214/389252760.html", :rel => "external"} Мобильное приложение для наблюдателей поможет выявить нарушения
  .b-news__item
    .b-news__logo
      %img.b-news__img.b-news__img_ft{:alt => "", :src => image_path("press/np-ft.png")}/
    .b-news__text
      %a.b-news__link{:href => "http://blogs.ft.com/beyond-brics/2012/03/02/russia-apping-the-elections/", :rel => "external"} Russia: ‘apping’ the elections
  .b-news__item
    .b-news__logo
      %img.b-news__img.b-news__img_rain{:alt => "", :src => image_path("press/np-rain.png")}/
    .b-news__text
      %a.b-news__link{:href => "http://tvrain.ru/teleshow/govorite_s_toney_samsonovoy/sozdateli_veb_nablyudatelya_o_svoem_proekte-180292/", :rel => "external"} Создатели «Веб-наблюдателя» о своем проекте
