# In production create config/settings/sensitive_data.yml using this template and fill it with real keys

sensitive:
  session:
    secret_token: 'override'

  facebook:
    app_id: 'override'
    secret_key: 'override'

  vkontakte:
    app_id: 'override'
    secret_key: 'override'