body{max-width:800px; margin:0 auto;}
.menu li{list-style:none;}
.menu > li > a{font-size:120%; font-weight:bold;}
.menu-sectins > li > a{font-weight:bold; font-style:italic;}
.note{clear:both; float:right; width:200px; margin:0 0 5px 15px; padding:5px; background:#CCDDE7;}
.note + p:after{content:""; display:block; /*height:4px; background:#F00; clear:both;*/}

strong{padding:0 3px; font-weight:normal; border-radius:4px; text-shadow:0 1px 0 rgba(255,255,255,.5); background:#96deda;}
strong.linkinner{background:#DADADA;}
strong a{color:#000;}

.content-complaint-header{margin:10px 0; font-size:75%; line-height:1.2; text-align:right;}
.content-complaint-fio{margin-top:-7px; font-size:75%; font-style:italic; line-height:1.2; text-align:right;}
.content-complaint-title-fake{font-size:75%; font-weight:bold; line-height:1.2; text-align:center;}
.content-complaint-title{font-size:75%; font-weight:bold; line-height:1.2; text-align:center;}
.content-complaint-{font-size:75%; line-height:1.2; font-style:italic; text-align:center;}
.content-complaint-address{margin-top:-7px; font-size:75%; font-style:normal; line-height:1.2; text-align:center;}
.content-complaint-center {text-align:center;}

.center {text-align: center;}



/*iPhone styles*/

body{padding:0; font-size:90%; font-family:"Helvetica Neue", Helvetica, Arial, sans serif;}
h1{font-size:130%;}
h2{font-size:120%;}
h3{font-size:110%;}

.content:after{content:""; display:block; clear:both;}

.menu{margin:0; padding:0; border-top:1px solid #E7E7E7;}
.menu, .submenu{margin:0; padding:0; border-top:1px solid #E7E7E7;}
.menu .submenu{border-top:0;}
.menu ul, .submenu ul{margin:0; padding:0;}
.menu > li, .submenu >li{margin:0; padding:0; list-style:none;}
.menu > li > a, .submenu a{display:block; font-size:110%;}
.menu > li > a{font-weight:bold;}
.menu a, .submenu a{display:block; padding:10px 30px 10px 10px; border-bottom:1px solid #E7E7E7; text-decoration:none; font-size:100%; color:#000; background:#FFF;}
.menu a:hover, .menu a:active, .submenu a:hover, .submenu a:active{background:#F0F0F0!important;}
.menu a:before, .submenu a:before{content:"›"; float:right; display:block; margin:0 -20px 0 10px; color:#7F7F7F; font-weight:normal; font-style:normal;}

.text{padding:10px; background:#FFF;}

.breadcrumb, .next, .prev, .back{margin:10px;}
.next{text-align:right;}
.breadcrumb a, .next a, .prev a, .back a{display:inline-block; padding:5px 10px; border-radius:5px; color:#000; text-shadow:0 1px 0 #FFF; text-decoration:none; background:#EEE;}
.breadcrumb a:hover, .next a:hover, .prev a:hover{box-shadow:0 0 10px #555;}
.breadcrumb a:before{content:"↑"; margin:0 5px 0 0;}
.prev a:before, .back a:before{content:"←"; margin:0 5px 0 0;}
.next a:after{content:"→"; margin:0 0 0 5px;}
.spacing {letter-spacing: 0.2em;}
.line {border-bottom: 1px solid black; font-size: 75%; line-height: 1.2; margin: 10px 0;}

table {border: 1px solid black; border-collapse: collapse; width: 100%; margin: 10px 0;}
td, th {vertical-align: top; padding: 2px 4px; border: 1px solid black; min-width: 2em;}
th {padding: 4px;}
td.no {text-align: center;}
td.res {width: 40%; padding: 0 4px 2px 0;}
td.res table {margin-top: 0;}
table.number {width: auto; border-top: 2px solid black; border-left: 2px solid black; border-bottom: 3px solid black; border-right: 3px solid black;}
table.number td {padding: 6px 0; width: 1em; text-align: center;}

table.footer {border: none;}
table.footer td {border: none; width: 30%;}
table.footer th {border: none; padding: 4px 0;}
table.footer td.middle {width: 40%;}
table.footer span {margin-right: 4em;}


@media only screen and (min-width: 800px) {

body{background:#EEE;}
.content{border:1px solid #999; box-shadow:0 0 30px #000; background:#FFF;}
.prev{float:left; max-width:45%;}
.next{float:right; max-width:45%; text-align:right;}

}

@media only screen and (min-width: 1480px) {

body{overflow-y:scroll;}
.prev, .next{display:block; position:fixed; top:0; width:300px;}
.prev{left:50%; margin-left:-720px;}
.next{right:50%; margin-right:-720px;}
.prev a, .next a{display:block;}

}
