.b-progress {
	border: 1px solid #777;
}
.b-user-login__bubble {
	background: #000;
}
.b-user-login__arrow {
	color: #000;
	background: url(/assets/status.png) no-repeat 0 200px;
}
.b-content ol li {
	/list-style-type: decimal;
	color: #9E9E9E;
	}
	.b-content__li-7 {
		font: 16px/1.4 'Times New Roman', Times, serif;
		color: #000;
	}

.b-menu__item-ie-7 {
	float: left;
	margin: 0 0 0 -16px;
	width: 16px;
}