%p
  Здравствуйте, #{@resource.email}!
%p Кто-то начал процедуру смены пароля по вашему аккаунту, вы можете воспользоваться ссылкой ниже чтобы установить новый пароль.
%p= link_to 'Изменить мой пароль', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
%p Если вы не запрашивали этого, просто проигнорируйте данное письмо.
%p Ваш пароль не будет изменен пока вы не перейдете по ссылке, указанной выше, и не установите новый пароль.
