%p
  Здравствуйте, #{@resource.email}!
%p Ваш аккаунт был заблокирован из-за большого количества неуспешных попыток входа на сайт.
%p Перейдите по ссылке ниже чтобы разблокировать ваш аккаунт:
%p= link_to 'Разблокировать мой аккаунт', unlock_url(@resource, :unlock_token => @resource.unlock_token)
