%h1.b-mainhead.b-mainhead_center
  %strong.b-mainhead__name Отчеты наблюдателей
.b-total
  .b-total__digit
    %strong.b-total__big 159 647
    наблюдателей присылают данные с помощью приложения
  .b-total__diag.clearfix
    %p
      %canvas#plotBig{:height => "160", :width => "360"}
    %p
      %strong.b-total__yes 256 389
      правил соблюдено,
      %strong.b-total__no 68 389
      нарушений замечено
  / <div class="b-total__verb"><a href="#" class="b-total__verb-link">Вставить в блог</a></div>
.b-separator
  %table.b-separator__table
    %tr.b-separator__string
      %td.b-separator__side  
      %td.b-separator__name Нарушения
      %td.b-separator__side  
.b-fotorama{:style => "width: 700px;"}
  #fotorama-main_alexeilebedev.ftrm
    %a{:href => "http://kprf.ru/images/76857.jpg"}
      %img{:src => "http://kprf.ru/images/76857.jpg"}/
    %a{:href => "http://www.scan-interfax.ru/GetImage.ashx?t=0&sg=SMI2010A&id=ecrimeainfo_20101030_59B4273E_1"}
      %img{:src => "http://www.scan-interfax.ru/GetImage.ashx?t=0&sg=SMI2010A&id=ecrimeainfo_20101030_59B4273E_1"}/
    %a{:href => "http://fadaanan.appspot.com/pics.livejournal.com/1_konkretik/pic/0000qykb"}
      %img{:src => "http://fadaanan.appspot.com/pics.livejournal.com/1_konkretik/pic/0000qykb"}/
    %a{:href => "http://i.obozrevatel.ua/8/807230/gallery/122986_image_large.jpg"}
      %img{:src => "http://i.obozrevatel.ua/8/807230/gallery/122986_image_large.jpg"}/
    %a{:href => "http://reflectionsondemocracy.files.wordpress.com/2010/04/lineup-for-democracy1.jpg"}
      %img{:src => "/http://reflectionsondemocracy.files.wordpress.com/2010/04/lineup-for-democracy1.jpg"}/
    %a{:href => "http://susanin.udm.ru/upload/resize_cache/iblock/e3d/476_1000_1/e3de0e3b2ac96223251f8deaa6f38843.jpg"}
      %img{:src => "http://susanin.udm.ru/upload/resize_cache/iblock/e3d/476_1000_1/e3de0e3b2ac96223251f8deaa6f38843.jpg"}/
    %a{:href => "http://img.gazeta.ru/files3/886/3936886/RIAN_00999219.HR.ru-pic4-452x302-31832.jpg"}
      %img{:src => "http://img.gazeta.ru/files3/886/3936886/RIAN_00999219.HR.ru-pic4-452x302-31832.jpg"}/
    %a{:href => "http://effectmecht.files.wordpress.com/2011/12/d187d183d180d0bed0b21.jpg"}
      %img{:src => "http://effectmecht.files.wordpress.com/2011/12/d187d183d180d0bed0b21.jpg"}/
    %a{:href => "http://www.kovrovgz.ru/news/image/5/2008-03-04_20_1.jpg"}
      %img{:src => "http://www.kovrovgz.ru/news/image/5/2008-03-04_20_1.jpg"}/
    %a{:href => "http://www.yuga.ru/media/nye_vybory_24_dekabrya_v_krasnodare_fotoreportazh__7pslgmz.jpg"}
      %img{:src => "http://www.yuga.ru/media/nye_vybory_24_dekabrya_v_krasnodare_fotoreportazh__7pslgmz.jpg"}/
    %a{:href => "http://www.epochtimes-romania.com/news_images/2011/05/2011_05_21_114323826_rsz.jpg"}
      %img{:src => "http://www.epochtimes-romania.com/news_images/2011/05/2011_05_21_114323826_rsz.jpg"}/
    %a{:href => "http://image.shutterstock.com/display_pic_with_logo/3242/3242,1172399395,1/stock-photo-voting-2754155.jpg"}
      %img{:src => "http://image.shutterstock.com/display_pic_with_logo/3242/3242,1172399395,1/stock-photo-voting-2754155.jpg"}/
    %a{:href => "http://d1.dvinainform.ru/data/files/8a/1d/00001d8a.jpg"}
      %img{:src => "http://d1.dvinainform.ru/data/files/8a/1d/00001d8a.jpg"}/
    %a{:href => "http://img15.nnm.ru/c/0/c/6/c/3c8ed98c22f0d930377fb75c270.jpg"}
      %img{:src => "http://img15.nnm.ru/c/0/c/6/c/3c8ed98c22f0d930377fb75c270.jpg"}/
    %a{:href => "http://i2.kp.ua/m/300x225/12598727.jpg"}
      %img{:src => "http://i2.kp.ua/m/300x225/12598727.jpg"}/
    %a{:href => "http://dzedzich.org/wp/wp-content/uploads/2011/06/9928660_3224.jpg"}
      %img{:src => "http://dzedzich.org/wp/wp-content/uploads/2011/06/9928660_3224.jpg"}/
    %a{:href => "http://img.rl0.ru/fe61a48a67d131e5612e113b62948e27/432x288/img.lenta.ru/news/2012/02/04/montage/picture.jpg"}
      %img{:src => "http://img.rl0.ru/fe61a48a67d131e5612e113b62948e27/432x288/img.lenta.ru/news/2012/02/04/montage/picture.jpg"}/
.b-listab
  .b-listab__title Распространенные нарушения
  %table.b-listab__table
    %tr.b-listab__string
      %td.b-listab__item.b-listab__item_num 384 325
      %td.b-listab__item.b-listab__item_txt
        %a{:href => "#"} Нарушается тайна голосования
    %tr.b-listab__string
      %td.b-listab__item.b-listab__item_num 123 457
      %td.b-listab__item.b-listab__item_txt
        %a{:href => "#"} Удаление наблюдателя
    %tr.b-listab__string
      %td.b-listab__item.b-listab__item_num 57 456
      %td.b-listab__item.b-listab__item_txt
        %a{:href => "#"} Урны опечатаны вслепую
    %tr.b-listab__string
      %td.b-listab__item.b-listab__item_num 33 457
      %td.b-listab__item.b-listab__item_txt
        %a{:href => "#"} Подозрительные голосующие
    %tr.b-listab__string
      %td.b-listab__item.b-listab__item_num 14 248
      %td.b-listab__item.b-listab__item_txt
        %a{:href => "#"} Голосование без паспорта
    %tr.b-listab__string
      %td.b-listab__item.b-listab__item_num 4 547
      %td.b-listab__item.b-listab__item_txt
        %a{:href => "#"} Урны опечатаны вслепую
    %tr.b-listab__string
      %td.b-listab__item.b-listab__item_num 3 457
      %td.b-listab__item.b-listab__item_txt
        %a{:href => "#"} Удаление наблюдателя
    %tr.b-listab__string
      %td.b-listab__item.b-listab__item_num 1 007
      %td.b-listab__item.b-listab__item_txt
        %a{:href => "#"} Подозрительные голосующие
    %tr.b-listab__string
      %td.b-listab__item.b-listab__item_num 943
      %td.b-listab__item.b-listab__item_txt
        %a{:href => "#"} Нарушается тайна голосования
    %tr.b-listab__string
      %td.b-listab__item.b-listab__item_num 487
      %td.b-listab__item.b-listab__item_txt
        %a{:href => "#"} Удаление наблюдателя
    %tr.b-listab__string
      %td.b-listab__item.b-listab__item_num 2
      %td.b-listab__item.b-listab__item_txt
        %a{:href => "#"} Нарушается тайна голосования
.b-listab
  .b-listab__title Участки-нарушители
  %table.b-listab__table
    %tr.b-listab__string
      %td.b-listab__item.b-listab__item_num 97
      %td.b-listab__item.b-listab__item_txt
        Москва,
        %a{:href => "#"} УИК 4582
    %tr.b-listab__string
      %td.b-listab__item.b-listab__item_num 82
      %td.b-listab__item.b-listab__item_txt
        Воронеж,
        %a{:href => "#"} УИК 1452
    %tr.b-listab__string
      %td.b-listab__item.b-listab__item_num 76
      %td.b-listab__item.b-listab__item_txt
        Москва,
        %a{:href => "#"} УИК 1754
    %tr.b-listab__string
      %td.b-listab__item.b-listab__item_num 69
      %td.b-listab__item.b-listab__item_txt
        Санкт-Петербург,
        %a{:href => "#"} УИК 7891
    %tr.b-listab__string
      %td.b-listab__item.b-listab__item_num 69
      %td.b-listab__item.b-listab__item_txt
        Санкт-Петербург,
        %a{:href => "#"} УИК 7891
    %tr.b-listab__string
      %td.b-listab__item.b-listab__item_num 59
      %td.b-listab__item.b-listab__item_txt
        Новосибирск,
        %a{:href => "#"} УИК 1237
    %tr.b-listab__string
      %td.b-listab__item.b-listab__item_num 55
      %td.b-listab__item.b-listab__item_txt
        Москва,
        %a{:href => "#"} УИК 4582
    %tr.b-listab__string
      %td.b-listab__item.b-listab__item_num 41
      %td.b-listab__item.b-listab__item_txt
        Воронеж,
        %a{:href => "#"} УИК 1452
    %tr.b-listab__string
      %td.b-listab__item.b-listab__item_num 38
      %td.b-listab__item.b-listab__item_txt
        Москва,
        %a{:href => "#"} УИК 1754
    %tr.b-listab__string
      %td.b-listab__item.b-listab__item_num 32
      %td.b-listab__item.b-listab__item_txt
        Санкт-Петербург,
        %a{:href => "#"} УИК 7891
    %tr.b-listab__string
      %td.b-listab__item.b-listab__item_num 15
      %td.b-listab__item.b-listab__item_txt
        Новосибирск,
        %a{:href => "#"} УИК 1237
.b-separator
  %table.b-separator__table
    %tr.b-separator__string
      %td.b-separator__side  
      %td.b-separator__name География
      %td.b-separator__side  
.b-geography
  %ul.b-towns.clearfix
    %li.b-towns__town
      %p.b-towns__name Москва
      %p
        %canvas#plotMoscow{:height => "110", :width => "226"}
      %p.b-towns__total
        67278
        %br/
        %span.b-towns__watchers наблюдателей
    %li.b-towns__town
      %p.b-towns__name Санкт-Петербург
      %p
        %canvas#plotSpb{:height => "110", :width => "226"}
      %p.b-towns__total 13674
    %li.b-towns__town
      %p.b-towns__name Екатеринбург
      %p
        %canvas#plotEkb{:height => "110", :width => "226"}
      %p.b-towns__total 2326
    %li.b-towns__town
      %p.b-towns__name Уфа
      %p
        %canvas#plotUfa{:height => "110", :width => "226"}
      %p.b-towns__total 2326
    %li.b-towns__town
      %p.b-towns__name Челябинск
      %p
        %canvas#plotChel{:height => "110", :width => "226"}
      %p.b-towns__total 2323
    %li.b-towns__town
      %p.b-towns__name Казань
      %p
        %canvas#plotKaz{:height => "110", :width => "226"}
      %p 2324
    %li.b-towns__town
      %p.b-towns__name Чечня
      %p
        %canvas#plotChe{:height => "110", :width => "226"}
      %p.b-towns__total 23
    %li.b-towns__town
      %p.b-towns__name Другие города
      %p
        %canvas#plotOthers{:height => "110", :width => "226"}
      %p.b-towns__total 2326
.b-separator
  %table.b-separator__table
    %tr.b-separator__string
      %td.b-separator__side.b-separator__side_single  

:javascript
  $(function() {
    $('#fotorama-main_alexeilebedev').fotorama({width: 700, height: 467});
  });
  window.addEventListener('load', function () {
    draw(256389, 68389, 'plotBig', 20);
    draw(5, 12, 'plotMoscow');
    draw(12, 8, 'plotSpb');
    draw(5, 12, 'plotEkb');
    draw(5, 3, 'plotUfa');
    draw(1, 8, 'plotChel');
    draw(2, 10, 'plotKaz');
    draw(3, 0, 'plotChe');
    draw(1, 6, 'plotOthers');
  }, false);