- if user_signed_in?
  = t('devise.info.signed_as', email: current_user.email)
  = link_to t('devise.links.sign_out'), destroy_user_session_path
- else
  = link_to t('devise.links.sign_in'), new_user_session_path
  или
  = link_to t('devise.links.sign_up'), new_user_registration_path
